* {
  padding: 0;
  margin: 0;
}

.header {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  align-items: center;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  display: flex;
  width: 100%;
  letter-spacing: 1.4px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-region {
  margin-top: 3px;
  padding: 4px 15px 8px;
}

.a {
  display: flex;
  align-content: space-evenly;
}

.article-wrap {
  width: 25%;
  height: auto;
  text-align: justify;
}

.article-one {
  text-align: justify;
  text-size-adjust: 30px;
}

.column-one {
  display: grid;
  grid-template-columns: 71% 29%;
  border: 1px solid black;
}

.a5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.a7 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;

  img {
    width: 20%;
  }
}

.column-two {
  img {
    width: 100px;
  }
}

.games {
  display: grid;
  border-width: 10% 9%;
}
.game-section-one {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border-right: 1px solid black;
  font-size: larger;
}

.game-section-two {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border-right: 1px solid black;
  font-size: larger;
}

.more {
  display: table;
  justify-content: center;
  table-layout: fixed;
}

.a4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.the-news {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: medium;
  text-align: justify;

  img {
    width: 400px;
    height: 300px;
  }
}

.messi {
  display: flex;
  align-content: center;
  font-size: medium;
  text-align: justify;

  img {
    width: 500px;
  }
}

#more-news {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 50%;
  }
}

.table {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.a10 {
  display: grid;
}

.a9 {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.col-one {
  font-size: larger;
  align-content: space-between;
}

.sec-one {
  display: table;
  table-layout: auto;
}

.r1 {
  margin: 20px;
  padding: auto;
}

.a8 {
  display: flex;
}

.t-one {
  display: grid;
  grid-template-columns: 50% 50%;
}
